@import "variables";
@import "bootstrap/scss/bootstrap.scss";

/**
  * Forms
  */
.form-control {
  font-size: $input-font-size;
}

/**
  * _buttons.scss
  */
.btn {
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  box-shadow: $btn-box-shadow;
  @include hover { box-shadow: $btn-active-box-shadow; }
}

@mixin bg-gradient-variant($parent, $color) {
  #{$parent} {
    background: $color linear-gradient(90deg, mix($body-bg, $color, 15%), $color) repeat-x !important;
  }
}

/**
 * _card.scss
 */
 .card-deck {
  @include media-breakpoint-up(sm) {
    .card {
      margin-bottom: $card-deck-margin * 2;
    }
  }
}

.card-header {
  padding-bottom: 0;
  ~ .card-body {
    padding-top: 0;
  }
}

// .card-footer {
//   padding-top: $card-spacer-y / 2;
// }

/**
 * Theme Gradients
 */
$theme-gradients: (
  ("primary", $purple, $magenta, $white),
  ("magenta", $purple, $magenta, $white),
  ("purple-dark", $purple-dark, $black, $white),
  ("green", $green, $teal, $white),
);

@each $color in $theme-gradients {
  .btn-gradient-#{nth($color, 1)} {
    color: $white;
    background: linear-gradient(to right, #{nth($color, 2)}, #{nth($color, 3)});
    background-size: 120%;
    background-position: 20%;
    @include hover {
      color: #{nth($color, 4)};
      text-decoration: none;
      opacity: 90%;
    }
  }

  .bg-gradient-#{nth($color, 1)} {
    background: linear-gradient(to right, #{nth($color, 2)}, #{nth($color, 3)});
  }
}

/**
 * Z Index
 */
@for $i from 1 through 10 {
  .z-#{$i} {
    z-index: #{$i};
  }
}

// .section-angle--purple-dark {
//   position: relative;
// }

// .section-angle--purple-dark:after {
//   content: '';
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   background: inherit;
//   z-index: -1;
//   bottom: 0;
//   transform-origin: left bottom;
//   transform: skewY(3deg);
// }



/**
 * Custom
 */
.list-striped {
  .list-group-item {
    border-radius: $border-radius;
    
    &:nth-of-type(odd) {
      background: transparent;
    }

    &:nth-of-type(even) {
      background: $gray-100;
    }
  }
}

/**
 * UI Helpers
 */
.clickable {
  cursor: pointer;
}