// Global Scaffolding
// ------------------

// Container
.container-fluid {
  @include outer-container(100%);
}

.container {
  @include outer-container(100%);
  margin-left: $gutter;
  margin-right: $gutter;

  @include media($large) {
    @include base-container();
  }
}

.container-flex {
  @include outer-container(100%);
  display: flex;
  margin-left: $gutter;
  margin-right: $gutter;

  @include media($large) {
    @include base-container();
  }
}

.row {
  @include row();
}

// Sidebar
.sidebar-right {
  .main-content {

    @include media($medium) {
      @include span-columns(8);
    }
  }

  .sidebar {

    @include media($medium) {
      @include span-columns(3);
    }
  }
}

// Sidebar
.sidebar-left {
  .main-content {

    @include media($medium) {
      @include span-columns(9);
    }
  }

  .sidebar {

    @include media($medium) {
      @include span-columns(3);
    }
  }
}
