// Button Styles
// -------------

// Sizes

// Default Size
.btn--sm {
  padding: $space-xs $space-sm;
  @extend .xxs-sans;
}

.btn,
.btn--md {
  padding: $space-sm $space-md;
  @extend .xs-sans;
}


%btn-outline {
  @include btn-reset();
  @extend .sm-caps;
  min-width: 100px;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

%btn-solid {
  @include btn-reset();
  @extend .sm-caps;
  min-width: 100px;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

.btn-link {
  @include btn-reset();
  @extend .sm-caps;
  @extend .xs-sans;
  position: relative;

  &:after {
    font-size: 125%;
    content:'\00a0\203a';
  }
}

.btn-outline--white {
  @extend %btn-outline;
  background-color: transparent;
  border-color: $white;
  color: $white;

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $white;
    color: $magenta;
  }
}

.btn-outline--purple {
  @extend %btn-outline;
  background-color: transparent;
  border-color: $purple;
  color: $purple;

  &:hover,
  &:focus {
    background-color: $purple;
    border-color: $purple;
    color: $white;
  }
}

.btn-outline--purple-sm {
  @extend .btn-outline--purple;
  padding: $space-xs $space-sm;
}

.btn-solid--white {
  @extend %btn-solid;
  background-color: $white;
  border-color: $white;
  color: $magenta;
  padding: $space-sm $space-md;

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $white;
    color: $magenta;
  }
}

.btn-solid--purple {
  @extend %btn-solid;
  background-color: $purple;
  border-color: $purple;
  color: $white;

  &:hover,
  &:focus {
    background-color: $purple;
    border-color: $purple;
    color: $white;
  }
}

.btn-group {
  display: inline-block;

  a {
    display: inline-block;
    margin-right: $space-sm;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.btn-group--stacked {
  display: inline-block;

  a {
    clear: both;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: $space-sm;
  }
}
