// Variables: Typography
// ---------------------

// Fonts
// =============================================================================

$serif:             $georgia !default;
$sans:						  montserrat, $helvetica !default;
$serif-alt:         $serif !default;
$sans-alt:          $sans !default;
$base-font-family:  $sans !default;

// Font Sizes
// =============================================================================

$em-base: 18px !default;
$base-font-size: 18px !default;
$base-mobile-font-size: 18px !default;
$base-font-size-rem: 18px !default;

// Line Height
// =============================================================================

$base-line-height: 1.5 !default;
$base-spacing: $base-line-height * 1em !default;
$body-line-height: modular-scale($golden, 1) !default;
$header-line-height: 1.25 !default;
