// Variables: Utilities
// --------------------
// These vars apply to utility mixins or @extends

// SPACING VARS
// ============================================================

$space-xs:  5px !default;
$space-sm:  10px !default;
$space-md:  25px !default;
$space-lg:  40px !default;
$space-xl:  80px !default;
$space-xxl: 120px !default;
