// Variables: Utilities
// --------------------
// These vars apply to utility mixins or @extends

// SPACING VARS
// ============================================================

$space-xs:  5px;
$space-sm:  10px;
$space-md:  25px;
$space-lg:  40px;
$space-xl:  80px;
$space-xxl: 120px;
