// Variables: Typography
// ---------------------

// Fonts
// =============================================================================

$serif:             $georgia;
$sans:						  montserrat, $helvetica;
$serif-alt:         $serif;
$sans-alt:          $sans;
$base-font-family:  $sans;

// Font Sizes
// =============================================================================

$em-base: 18px !default;
$base-font-size: 18px;
$base-mobile-font-size: 18px;
$base-font-size-rem: rem(18);

// Line Height
// =============================================================================

$base-line-height: 1.5;
$base-spacing: $base-line-height * 1em;
$body-line-height: golden-ratio(1em, 1);
$header-line-height: 1.25;
