// Type Styles
// -----------

// GLOBAL
// =============================================================================

p {
  margin: 0;

  & + p {
    margin: ($base-spacing / 2) 0 0;
  }

  + .accordion__list {
    margin-top: $space-md;
  }
}

b,
strong {
  @include semi-bold();
}

.entry-content {
  ol,
  ul {
    margin-top: 0;
    margin-bottom: $space-lg;

    li {
      margin-bottom: $space-sm;
    }
  }

  p + ul,
  p + ol {
    margin-top: $space-md;
  }
}


// TYPE CLASSES
// =============================================================================

// Sans Serif
.yuge-sans {
  font-family: $sans;
  font-size: 90px;
  line-height: 1.07;
}

.xxl-sans {
  font-family: $sans;
  font-size: 68px;
  line-height: 1.14;
}

.xl-sans {
  font-family: $sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.18;

  @include media($small) {
    font-size: 46px;
  }

  @include media($medium) {
    font-size: 60px;
    line-height: 1.2;
  }
}

.lg-sans {
  font-family: $sans;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.36;

  @include media($small) {
    font-size: 30px;
  }
}

.md-sans {
  font-family: $sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.36;

  @include media($small) {
    font-size: 25px;
  }
}

.sm-sans {
  font-family: $sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.xs-sans {
  font-family: $sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

// Helpers
.sm-caps {
  letter-spacing: .5px;
  font-weight: 700;
  text-transform: uppercase;
}



// TITLES
// =============================================================================

.section-lead {
  text-align: center;
  margin-bottom: $space-xl;
}

// ACCORDION ELEMENTS
// =============================================================================

.accordion__item {
  margin-bottom: 2px;

  .accordion__title {
    padding: $space-md 0;
  }
}

.accordion__icon {
  align-self: center;
  float: right;
  margin-left: auto;
  transform: rotate(0deg);
}

.accordion__title {
  display: flex;
  flex: 1;
  text-align: left;
  width: 100%;
  cursor: pointer;

  &[aria-expanded="true"] {
    .accordion__icon {
      transform: rotate(180deg);
    }
  }
}

.accordion__content {
  padding: 0 0 $space-lg;
}


// POST ELEMENTS
// =============================================================================



// PAGE ELEMENTS
// =============================================================================



// LIST ELEMENTS
// =============================================================================
