// Panel Vars
// -------------

$border_radius: 5px;

$panel-padding: $space-md;
$panel-background-color: $black-05;
$panel-header-background-color: $black-10;
$panel-border-radius: $border_radius;
$panel-content-padding: $space-md;
$panel-header-padding: $space-sm $space-md;
