// Panel Vars
// -------------

$panel-padding: $space-md;
$panel-background-color: $black-05;
$panel-header-background-color: $black-10;
$panel-header-color: $black-80;
$panel-border-radius: $border-radius;
$panel-content-padding: $space-md;
$panel-header-padding: $space-xs $space-md;
$panel-gutter-spacing: $gutter;
