// Panels
// -------------

@import 'vars';

.panel {
  background-color: $panel-background-color;
  border-radius: $panel-border-radius;
  overflow: hidden;

  + .panel {
    margin-top: $panel-gutter-spacing;
  }
}

.panel__header {
  background-color: $panel-header-background-color;
  padding: $panel-header-padding;
  border-radius: $panel-border-radius $panel-border-radius 0 0;
  color: $panel-header-color;
  font-size: 16px;
}

.panel__content {
  padding: $panel-content-padding;
  display: flex;
  align-items: flex-start;
}

.panel__item {
  display: flex;
  flex-direction: column;
  margin-bottom: $space-md;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include media($small) {
    flex-direction: row;
  }
}

.panel__content--left {
  margin-right: auto;
  flex: .8;

  @include media($small) {
    margin-right: auto;
    flex: .8;
  }
}

.panel__content--right {
  margin-top: $space-sm;

  @include media($small) {
    margin-top: 0;
    text-align: right;
  }
}

.panel__list {
  flex: 1;
}

.panel__list--timeline {
  .panel__item {
    padding-left: $space-lg;
    position: relative;

    &:after {
      background-color: $purple;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      display: block;
      position: absolute;
      left: 0;
      bottom: 50%;
      margin-top: -5px;
      content: '';
    }

    &:before {
      height: 500%;
      content: '';
      width: 2px;
      display: block;
      position: absolute;
      left: 5px;
      top: 50%;
      bottom: 0;
      background-color: $purple;
    }
  }

  .panel__viewmore {
    @include standard-trans;
    margin-left: $space-lg;
    margin-top: $space-md;
  }
}
