.shifter-animation {
  @include purple-gradient();
  height: 100vh;
  height: calc(100vh - 100px);

  @include media($small) {
    min-height: 800px;
  }

  svg {
    max-width: 1400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -120%);

    @include media($small) {
      transform: translate(-60%, -50%);
    }

    @include media($medium) {
      transform: translate(-50%, -50%);
    }
  }

  &__end-text,
  &__start-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: $white;
  }

  &__start-text {
    text-align: center;

    p {
      margin-top: 50%;
    }

    span {
      display: block;
      font-size: 5px;
    }
  }

  &__end-text {
    opacity: 0;

    @include media($small) {
      transform: translate(0, -50%);
    }
  }
}

#trigger {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: $black;
  height: 1px;
  width: 30px;
  z-index:9999;
}

.shifter-animation__end-text {

  @include span-columns(10);

  @include media($small) {
    width: 400px;
  }

}

.shifter-animation__buttons {
  margin-top: $space-md;
}
