// Global Page Header
// ------------------

.page-header {
  text-align: center;
  background-image: url('../../dist/images/shape-bkg.svg');
  padding-top: $space-xl;
  padding-bottom: $space-xl;

  @include media($small) {
    padding-top: 160px;
    padding-bottom: 140px;
  }
}

.page-header__title {
  margin-bottom: $space-sm;
}

.page-header__content {

  br {
    display: none;
  }

  @include media($medium) {
    @include center-column(7);

    br {
      display: inline-block;
    }
  }
}
