// Inputs: Text
// -------------

input[type=text],
input[type=url],
input[type=email],
input[type=textarea],
textarea {
   background-color: $white;
   border-radius: 5px;
   padding: $space-sm;
   width: 100%;
   border: 2px solid transparent;
}

::-webkit-input-placeholder {
  // @extend .sm-caps;
  @extend .xs-sans;
}
