// Single
// ---------------------

.single__article {
  @include span-columns(12);
  padding: $space-md;

  @include media($small) {
    padding: $space-lg;
    @include center-column(10);
  }

  h1,
  h2,
  h3,
  h4 {
    color: $black;

    + p {
      margin-top: $space-md;
    }
  }

  p {
    + h1,
    + h2,
    + h3,
    + h4 {
      margin-top: $space-lg;
    }
  }

  h1 {
    @extend .lg-sans;
    margin-bottom: $space-sm;
  }

  h2 {
    @extend .md-sans;
    font-size: 30px;
    margin-bottom: $space-md;
  }

  h3 {
    @extend .sm-sans;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: $space-sm;
  }

  h4 {
    @extend .xs-sans;
    margin-bottom: $space-sm;
  }
}

.single__content {
  .entry-content {
    @include span-columns(12);

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      word-break: break-all;
    }
  }

  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;

    + p {
      margin-top: 31px;
    }
  }

  .single__share {
    margin-top: $space-lg;
    @include span-columns(12);
  }
}
