.patterns {
  @extend .container-fluid;
}

.patterns__item {
  @extend .row;
  padding: $space-lg 0;
  border-radius: 5px;
}

.patterns__code {
  margin-top: $space-md;
}

pre {
  border-radius: $border-radius; // TODO: move pre to common/general styles
}
