.patterns {
  @extend .container-fluid;

  > pattern {
    @extend .row;
    margin-top: $space-lg;
    margin-bottom: $space-lg;
    border-radius: 5px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.patterns__code {
  margin-top: $space-md;
}

pre {
  border-radius: $border-radius; // TODO: move pre to common/general styles
}
