// Global Header Styles

.global-header {

  .container-flex {
    align-items: center;
    height: 100px;
  }
}

.nav__open,
.nav__close {
  @include standard-trans;
  font-size: 30px;
}

.nav__close {
  font-size: 60px;
}

.global-nav {
  display: none;

  @include media($medium) {
    display: block;
  }

  a {
    @extend .xs-sans;
    @extend .sm-caps;
    margin-right: $space-md;
    text-transform: uppercase;
    display: inline-block;
  }
}

.primary-nav {
  display: inline-block;
  display: flex;
  align-items: center;

  a {
    position: relative;

    &:after {
      @include standard-trans();
      opacity: 0;
    }
  }
}

.global-nav-toggle {
  font-size: 22px;

  @include media($medium) {
    display: none;
  }
}

.global-header__logo {
  margin-right: auto;

  svg,
  img {
    width: 100%;
    height: auto;
  }
}

.nav__toggle {
  display: flex;
  align-items: center;

  @include media($medium) {
    display: none;
  }
}


// Nav Drawer

.nav__drawer {
  @include standard-trans();
  z-index: 9999;
  padding-top: 10px;
  background-color: $black-light;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);

  .nav__items a {
    display: block;
    color: $white;
    font-family: $sans-alt;
    text-decoration: underline;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    padding: 10px 50px 10px 50px;

    @include media($small) {
      padding: 15px 180px 15px 50px;
    }

    @include media($medium) {
      padding: 15px 180px 15px 50px;
    }

    &:last-of-type {
      padding-bottom: 40px;
    }

    &:hover {
      color: $white;
      outline: none;
    }
  }
}

.open-nav {

  .nav__drawer {
    transform: translateX(0);
  }
}

.nav__close {
  padding: 0 50px;

  a {
    color: $white;
  }
}
