// Dashboard

.layout--dashboard {
  main {
    margin-top: $space-lg;
  }
}

// Nav
.dashboard-nav {
  border-radius: $border-radius;
  overflow: hidden;
  margin-bottom: $gutter;

  .nav__item {
    @include standard-trans();
    display: block;
    background: $black-10;
    padding: $space-sm $space-md;
    min-height: 50px;
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 14px;
    color: $base-font-color;

    &:hover {
      background-color: $black-05;
    }
  }

  .dashboard-nav__toggle {
    display: flex;

    @include media($medium) {
      display: none;
    }
  }

  .dashboard-nav__items {
    height: 0;
    flex-direction: column;

    @include media($medium) {
      height: 100%;
    }
  }

  .nav__icon ~ span {
    margin-left: $space-sm;
  }
}
