// Get Started: Pricing
// -----------------

.pricing__lead {
  margin-bottom: $space-xl;
  text-align: center;

  @include media($medium) {
    @include center-column(7);
  }
}

.plans {
  @include span-columns(12);
  align-items: center;
  text-align: center;
  display: flex;
  flex-flow: column wrap;

  @include media($small) {
    flex-flow: row wrap;
  }

  &.year {

    .year {
      display: block;
    }

    .month {
      display: none;
    }
  }

  &.month {

    .year {
      display: none;
    }

    .month {
      display: block;
    }
  }
}

.plans__price {
  font-weight: 400;
  margin-top: $space-sm;
  margin-bottom: $space-md;
  font-size: 35px;

  span {
    font-weight: 400;
  }
}

.plans__features {
  list-style: none;
  padding: 0;
  margin: 0 0 14px;
}

.plans__item {
  @include standard-trans();
  border: 1px solid $black-light;
  padding: $space-lg $space-sm;
  flex: 1;
  width: 100%;

  @include media($small) {
    flex: 50%;
  }

  @include media($medium) {
    flex: 1;
  }

  &:not(:first-of-type) .plans__price:before {
    font-size: 60%;
    display: inline-block;
    vertical-align: super;
    width: 0;
    right: 8px;
    position: relative;
    content: '\0024';
  }
}

.plans__item-featured {
  background-color: $white;
  opacity: 1;
}

.plans__link {
  @extend .btn-outline--purple;
  margin-top: $space-md;
}

.plans__desc {
  font-weight: 600;
}

.pricing__footer {
  margin-top: $space-xl;
  text-align: center;

  @include media($large) {
    @include center-column(4);
  }
}

.pricing__link {
  margin-top: $space-md;
}

.pricing-toggle {
  text-align: center;
  margin-top: $space-md;
}

.toggle-button {
  @extend .btn-outline--white;
  @include standard-trans();
  display: inline-block;

  &:hover {
    background-color: transparent;
    color: $white;
  }

  &.active {
    background-color: $white;
    border-color: $white;
    color: $magenta;
  }

  span {
    display: none;

    @include media($xsmall) {
      display: inline-block;
    }
  }
}

.left-toggle {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right-toggle {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
